[submodule "external/tracktion_engine"]
	path = external/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine
[submodule "external/mk3"]
	path = external/mk3
	url = https://github.com/music-pi/libmk3.git
